@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "titulo";
    src: url('/public/Fonts/titulo.ttf') format('truetype');
}

@font-face {
    font-family: "normal";
    src: url('/public/Fonts/normal.ttf') format('truetype');
}

